.reveal {
    padding: 8px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.close-button {
    /*   display: none;*/
    margin-left: 15px;
}

a[data-open] {
    color: black;
    border-bottom: solid #AE63E4 1px;
}

a[data-open]:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 6px solid #AE63E4;
    border-right: 6px solid transparent;
    margin-left: 1px;
    margin-right: 3px;
    position: relative;
    top: -8px;
}

a[data-open]:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid #AE63E4;
    border-left: 6px solid transparent;
    margin-left: 3px;
    margin-right: 1px;
    position: relative;
    top: 10px;
}

.id-reveal {
    color: #AE63E4;
    font-style: italic;
    font-size: 10px;
}